.section-box {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-item {
  width: 100%;
}

.section-item-flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
}

@media all and (max-width: 842px) {
  .work-item-flex-container {
    justify-content: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
  }
}

.section-item h3 {
  /* Discover: */
  color: #5a54af;
}

.section-wrapper a {
  color: #574cdd;
  text-decoration: underline;
}

.section-wrapper li {
  /* color: #929292; */
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  /* line-height: 25px; */
  line-height: 1.8em;
}

.section-item p {
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  line-height: 1.8em;
}

span {
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  line-height: 1.8em;
}

h3 {
  letter-spacing: 0;
  font-size: 24px;
  margin: 0px;
}