.cover-photo {
opacity: 0.85;
}

.cover-photo:hover {
opacity: 1;
}

.work .row:nth-child(2) .timeline-times .timeline-end {
background-color: $dark-mode-color;
}

.navbar {
background   : $dark-mode-navbar-bg-color;
border-bottom: 1px solid #1f1f1f;
}

.navbar-toggler-icon {
background: $text-white;
}

.small-text {
background: #0d0c15;
color     : $text-white;
}

.animated-info {
color: $main-color-dark;
}

.color-mode,
.feature-card .uil,
.navbar-light .navbar-brand,
h1,
h2,
h3,
h4,
h5,
h6,
label,
li,
p,
small {
color: $text-white;
}

body {
color: $text-white;
}

.navbar-light .navbar-nav .nav-link {
color: $text-white;

&:focus,
&:hover {
  color: $href-color-dark;
}
}

a {
color: $href-color-dark;

&:hover {
  color: $main-color-dark;
}
}

.language {
a {
  color: $text-white;

  &:focus,
  &:hover {
	color: $href-color-dark;
  }
}
}

.custom-btn {
color: $text-white;

&:hover {
  color: $main-color-dark;
}

&.custom-btn-bg {
  color: $text-white;
}

&.custom-btn-bg-light {
  color: $text-white;

  &:hover {
	background  : $main-color-dark;
	border-color: $dark-mode-color;
  }
}

&.custom-btn-social {
  border: 1px solid #333333;
}

&.custom-btn-bg {
  &:hover {
	background: $main-color-dark;
  }
}
}

.timeline-end,
.timeline-start {
&:after {
  background: $dark-mode-color;
  border    : 2px solid $text-white;
}
}

.form-control {
background-color: $dark-mode-navbar-bg-color;
border          : 1px solid #333333;
color           : #fff;
}

.work .company {
  color: $text-white;
}

.keywords {
  color: $text-white;
}

#quote-carousel .carousel-indicators li {
  background-color: #999999;
}

#quote-carousel .carousel-indicators .active {
  background-color: #fff;
}
