@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
@import "config";
@import "carousel";

@mixin transition-effect {
  transition: all 0.4s ease;
}

@mixin xs {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin rwd($screen) {
  @media (max-width: $screen+'px') {
    @content;
  }
}

body {
  font-family: $font-base;
  font-size: $body-font-size;
  color: $body-font-color;
  padding-top: 70px;
}

.small-text {
  color: $body-font-color;
  font-size: $small-font-size;
  font-weight: $font-weight-bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

a {
  font-size: $link-font-size;
  font-weight: $font-weight-normal;
  text-decoration: none !important;
  color: $href-color;
  @include transition-effect;

  &:hover {
    color: $main-color;
  }
}

.navbar-brand {
  .uil {
    font-size: 40px;
  }
}

section {
  margin-top: 25px;
  margin-bottom: 25px;
}

// TYPOGRAPHY

p {
  font-size: $body-font-size;
  font-weight: $font-weight-light;
  line-height: 1.5;
  color: $body-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

h1 {
  color: $h1-font-color;
  font-size: $h1-font-size;
  margin: 24px 0;
}

h2 {
  color: $h2-font-color;
  font-size: $h2-font-size;
  font-weight: $font-weight-bold;
}

h3 {
  color: $h3-font-color;
  font-size: $h3-font-size;
}

h4 {
  color: $h4-font-color;
  font-size: $h4-font-size;
}

b,
h3,
strong {
  font-weight: $font-weight-bold;
}

ul {
  margin: 0;
}

a[href^="x-apple-data-detectors:"] {
  color: inherit;
  text-decoration: inherit;
}

li {
  font-weight: 300;
}

// CUSTOM BUTTON

.custom-btn {
  color: $body-font-color;
  font-weight: $font-weight-bold;
  border-radius: 6px;
  padding: 13px 29px;
  font-size: $small-font-size;
  line-height: normal;
  overflow: hidden;
  @include transition-effect;

  &:hover {
    color: $main-color;
  }

  &.custom-btn-bg {
    background: $button-color;
    color: $text-white;

    &:hover {
      background: $main-color;
      color: $text-white;
    }
  }

  &.custom-btn-bg-light {
    border: 1px solid $border-color;

    &:hover {
      background: $border-color;
    }
  }

  &.custom-btn-social {
    padding: 10px;
    width: 70px;
    margin-right: 10px;
  }

  &.resume-btn {
    margin-right: 10px;
    @include sm {
      margin-right: 0;
    }
  }
}

.vcard {
  margin-right: 5px;
}

.resume-icon {
  margin-right: 10px;
}

// ANIMATED TEXT

.animated-info {
  color: $main-color;
}

#typed-strings {
  display: none;
  font-weight: 400;
}

// MENU

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  padding: 15px;
}

.navbar-brand {
  font-weight: $font-weight-bold;
}

.nav-link {
  padding: 3px 30px 3px 0 !important;
}

.navbar-right-elements {
  display: flex;
}

.nav-link {
  font-weight: $font-weight-bold;
  font-size: 16px;
  overflow: hidden;

  span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;

    &:before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      transform: translate3d(0, 0, 0);
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link:focus,
    .nav-link:hover {
      color: $main-color;
      font-weight: $font-weight-bold;

      span {
        transform: translateY(-100%);
      }
    }
  }
}

// HAMBURGER MENU

.navbar-light {
  .navbar-toggler-icon {
    background: none;
  }
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;

  &:focus {
    outline: none;
  }

  &[aria-expanded="true"] {
    .navbar-toggler-icon {
      &:first-child {
        transform: rotate(45deg);
        top: 6px;
      }

      &:nth-child(2) {
        display: none;
      }

      &:last-child {
        transform: rotate(-45deg);
        bottom: 1px;
      }
    }
  }

  .navbar-toggler-icon {
    background: $h1-font-color;
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    @include transition-effect;
    position: relative;
  }
}

// profile

.cover-photo {
  border-radius: 100%;
  padding: 25px;
}

.about {
  li {
    list-style: none;
  }

  li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f067";
    display: inline-block;
    margin-left: -20px;
    margin-right: 12px;
  }

  .about-long-text {
    margin-top: 20px;
  }
}

.availability {
  font-weight: 400;
  color: $href-color;
}

// COPYRIGHT TEXT

.copyright-text {
  font-size: 16px;
  font-weight: $font-weight-normal;
  display: block;
}

// Language
.language {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin-right: 10px;
  }

  a {
    color: $language-link-color;

  }

  padding-right: 30px;

  .selected {
    color: $href-color;
  }
}

// COLOR MODE

.color-mode {
  font-size: 16px;
  cursor: pointer;
  margin-top: 2px;

  span {
    padding-left: 5px;
  }
}

.color-mode-icon {
  position: relative;
}

.color-mode-text-dark,
.color-mode-text-light {
  &.active {
    display: none;
  }
}

.dark-mode {
  background: $dark-mode-color;
  @import 'darkmode';
}

.quotes-container {
  margin-top: 60px;
}

.work .row:last-child .timeline-beam-dotted:last-child {
  display: none;
}

.work-links {
  list-style: none;
  padding-inline-start: 0px;
}

.work-links li {
  left-margin: 0px;
  font-size: $link-font-size;
  font-weight: 400;
}

.work .company {
  font-size: $link-font-size;
}

.keywords {
  color: $body-font-color;
  margin-top: 10px;
  margin-bottom: 10px;
}

.work .keywords span {
  padding: 2px 5px 2px 5px;
  border: 1px $href-color solid;
  font-size: $tag-size;
}

.timeline-times {
  border-right: 1px solid $timelime-line-color;
}

.timeline-start {
  bottom: 0;
  margin-bottom: 5px;
}

.timeline-end,
.timeline-start {
  position: absolute;
  text-align: right;
  padding-right: 30px;
  width: 100%;
  line-height: 1;

  &:after {
    content: "";
    background: $timelime-dot-color;
    border: 2px solid $timelime-dot-border-color;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 7px;
    top: 4px;
  }
}

.timeline-info {
  p {
    margin: 0;
  }

  ul {
    margin-top: 10px;
  }
}

.work .row:nth-child(2) .timeline-times .timeline-end {
  background-color: #fff;
}

.timeline-beam {
  height: 100%;
  border-right: 1px solid $timelime-line-color;
}

.timeline-beam-dotted {
  height: 70px;
  border-right: 1px dashed $timelime-line-color;
}

.typed-cursor {
  color: #585858;
}

// clients

.client {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centering y-axis */
  align-items: center;
  margin-bottom: 30px;
}

.client .logo {
  max-width: 100px;
  height: auto;
}

// services

.card {
  display: block;
  top: 0;
  text-align: center;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 25px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  h4 {
    margin-top: 10px;
  }

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }
}

// Contact

.contact-card {
  ul {
    margin: 0;
    padding: 0;
    margin-bottom: 20px !important;

    li {
      list-style: none;
    }
  }
}

// PIWIK
.piwik {
  margin-left: -10px;
  margin-right: -10px;

  .piwik-frame {
    border: 0;
    height: 150px;
    width: 100%;
  }
}

// footer

.footer-container {
  height: 60px;
}

// RESPONSIVE STYLES
@include lg {
  .color-mode-text {
    display: none;
  }

  .about-image {
    margin-top: 0;
    text-align: center;
  }

  .cover-photo {
    max-width: 40%;
  }

  .contact-card {
    padding-bottom: 20px;
  }
}

@include md {
  .animated-item {
    font-size: 28px;
  }

  .cover-photo {
    max-width: 50%;
  }

  .piwik {
    .piwik-frame {
      height: 200px;
    }
  }

  .color-mode-text-dark,
  .color-mode-text-light {
    display: none;
  }
}

@include sm {
  .w-sx-100 {
    width: 100%;
    line-height: 2;
  }

  .animated-item {
    font-size: 24px;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }

  .custom-btn-social {
    display: inline;
  }

  .owl-theme .owl-nav {
    display: none;
  }

  .timeline-info small {
    display: block;
    margin: 10px 0 0;
  }

  .piwik {
    .piwik-frame {
      height: 220px;
    }
  }
}

@include rwd(520) {
  .iamtext {
    display: block;
  }

  .animated-text {
    font-size: $h1-font-size-phone;
  }
}

@include xs {
  .timeline-beam,
  .timeline-beam-dotted,
  .timeline-end,
  .timeline-start {
    display: none;
  }

  .timeline-info {
    margin-bottom: 30px;
  }

  .language {
    padding-right: 5px;
  }

  .cover-photo {
    max-width: 75%;
  }

}
