.section-box {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-item {
  width: 100%;
}

.section-item-half {
  width: 50%;
}

.section-item-flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.section-wrapper h2 {
  color: #5a54af;
  letter-spacing: 0;
  font-size: 24px;
  margin: 0px;
}

.section-wrapper h3 {
  color: #5a54af;
  letter-spacing: 0;
  font-size: 20px;
  margin: 0px;
  font-weight: 300;
  margin-top: 10px;
}

.work-date {
  margin: 0px;
}

.section-wrapper a {
  color: #574cdd;
  text-decoration: underline;
}

.section-wrapper li {
  /* color: #929292; */
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  /* line-height: 25px; */
  line-height: 1.8em;
}

.section-box p {
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  line-height: 1.8em;
}

.download-resume {
  width: 250px;
  border-radius: 5px;
  display: inline-block;
}

.download-resume-word {
  width: 90px;
  background: #5A54AF;
}

p {
    display: block;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title {
  /* My Process: */
  font-family: Roboto;
  font-weight: bold;
  font-size: 38px;
  color: #000000;
  letter-spacing: 0;
  line-height: 38px;
  margin-bottom: 16px;
}

.iconlink {
  color: green;
}

@media all and (max-width: 842px) {
  .section-item-flex-container {
    justify-content: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-wrapper h2 {
    font-size: 18px;
  }

  .section-wrapper h3 {
    font-size: 14px;
  }

  .work-date {
    margin-top: 10px;
  }

  .section-item-half {
    width: 100%;
  }
}