<section class="contact py-5" id="{{ .Site.Params.contact.anchor }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>{{ i18n "contact_title" }}</h1>
      </div>
    </div>
    <div class="row">
      {{ $data := index .Site.Data .Site.Language.Lang }}
      {{ $resume := $data.resume }}
      {{ $location := $resume.basics.location }}
      <div class="col-lg-6 contact-card">
        <h3>{{ $resume.basics.name }}</h3>
        <h4>{{ $resume.basics.label }}</h4>
        <ul>
          <li><a href="mailto:{{ $resume.basics.email }}">{{ $resume.basics.email }}</a></li>
          <li><a href="tel:{{replace $resume.basics.phone " " "" }}">{{ $resume.basics.phone }}</a></li>
          <li>{{ $location.address }}, {{ $location.postalCode }} {{ $location.city }} </li>
        </ul>
        <p>
          {{ range $resume.basics.profiles }}
          {{ $scratch := newScratch }}
          {{ if eq .network "Twitter" }}
          {{ $scratch.Set "icon" "twitter" }}
          {{ end }}
          {{ if eq .network "LinkedIn" }}
          {{ $scratch.Set "icon" "linkedin" }}
          {{ end }}
          {{ if eq .network "GitHub" }}
          {{ $scratch.Set "icon" "github" }}
          {{ end }}
          {{ if eq .network "Stackoverflow" }}
          {{ $scratch.Set "icon" "stack-overflow" }}
          {{ end }}
          <a href="{{ .url }}" target="blank" class="custom-btn custom-btn-social custom-btn-bg-light">
            <i class='fab fa-{{ $scratch.Get "icon" }} fa-lg'></i>
          </a>
          {{ end }}
          <a href="vcard.vcf" target="blank" class="custom-btn custom-btn-social custom-btn-bg-light">
            <i class="far fa-address-card vcard"></i>vCard</a>
        </p>
      </div>
      <div class="col-lg-6">
        <h3>{{ i18n "contact_work_together" }}</h3>
        <form action="{{ .Site.Params.contactEndpoint }}" method="post">
          <div class="form-group">
            <label for="email">{{ i18n "email" }}</label>
            <input type="email" class="form-control" name="email" placeholder="{{ i18n "contact_your_mail" }}" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">{{ i18n "name" }}</label>
            <input type="text" class="form-control" name="name" placeholder="{{ i18n "contact_your_name" }}" required>
          </div>
          <div class="form-group">
            <label for="message">{{ i18n "message" }}</label>
            <textarea class="form-control" name="message" rows="3" placeholder="{{ i18n "contact_your_message" }}" required></textarea>
          </div>
          <div style="position: absolute; left: -5000px;">
            <input type="checkbox" name="{{ .Site.Params.honeypot }}" value="1" tabindex="-1" autocomplete="no">
          </div>
          <button type="submit" class="btn custom-btn custom-btn-bg">{{ i18n "contact_submit" }}</button>
        </form>
      </div>
    </div>
  </div>
</section>