<section id="education">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>{{ .Site.Params.education.Title }}</h1>
      </div>
    </div>
    <div class="row">
      {{ range $.Site.Data }}
      {{ range .education }}
      <div class="col-12">
        <p class="work-date">
          <small>{{ dateFormat "01/2006" .startDate }} - {{ dateFormat "01/2006" .endDate }}</small>
        </p>
      </div>
      <div class="col-12">
        <h3><span>{{ .studyType }} {{ .area }}</span></h3>
        <h4>{{ .institution }}</h4>
      </div>
      <div class="col-12">
        <p>
          {{ $gpa := .gpa }}
          {{ range $.Site.Data }}
          {{ range .publications }}
          <strong>Thesis:</strong> {{ .summary }}
          <span class="thesis-link-gpa">(grade {{ $gpa }}) <a href="{{ .website }}">open</a></span>
          {{ end }}
          {{ end }}
        </p>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>