<section id="education">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>{{ i18n "education_title" }}</h1>
      </div>
    </div>
    <div class="row">
      {{ $data := index .Site.Data .Site.Language.Lang }}
      {{ $resume := $data.resume }}
      {{ range $resume.education }}
      <div class="col-12">
        <p class="work-date">
          <small>{{ dateFormat "01/2006" .startDate }} - {{ dateFormat "01/2006" .endDate }}</small>
        </p>
      </div>
      <div class="col-12">
        <h3><span>{{ .studyType }} {{ .area }}</span></h3>
        <h4>{{ .institution }}</h4>
      </div>
      <div class="col-12">
        <p>
          {{ $gpa := .gpa }}
          {{ range $resume.publications }}
          <strong>{{ i18n "education_thesis" }}:</strong> {{ .summary }}
          <span class="thesis-link-gpa">(grade {{ $gpa }}) <a href="{{ .website }}">{{ i18n "open" }}</a></span>
          {{ end }}
        </p>
      </div>
      {{ end }}
    </div>
  </div>
</section>