<!-- MENU -->
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <div class="d-flex flex-row justify-content-between order-sx-1 order-sm-2 w-sx-100">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="color-mode">
        <i class="color-mode-icon fas fa-sun"></i><span class="color-mode-text">Color mode</span>
      </div>
    </div>
    <div class="collapse navbar-collapse order-sx-2 order-sm-1" id="navbarNav">
      {{ if .IsHome }}
      <div class="navbar-nav navbar-left">
        <a href="#{{ .Site.Params.profile.anchor }}" class="nav-item nav-link"><span data-hover="{{ .Site.Params.profile.title_menu }}">{{ .Site.Params.profile.title_menu }}</span></a>
        <a href="#{{ .Site.Params.work.anchor }}" class="nav-item nav-link"><span data-hover="{{ .Site.Params.work.title_menu }}">{{ .Site.Params.work.title_menu }}</span></a>
        <a href="#{{ .Site.Params.skills.anchor }}" class="nav-item nav-link"><span data-hover="{{ .Site.Params.skills.title_menu }}">{{ .Site.Params.skills.title_menu }}</span></a>
        <a href="#{{ .Site.Params.contact.anchor }}" class="nav-item nav-link"><span data-hover="{{ .Site.Params.contact.title_menu }}">{{ .Site.Params.contact.title_menu }}</span></a>
      </div>
      {{ else }}
      <div class="navbar-nav navbar-left">
        <a href="/" class="nav-item nav-link"><span data-hover="Home">Home</span></a>
      </div>
      {{ end }}
    </div>
  </div>
</nav>