<!-- MENU -->
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <div class="d-flex flex-row justify-content-between order-sx-1 order-sm-2 w-sx-100">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-right-elements">
        <div class="language">
          <ul>
            {{ range $.Site.Home.AllTranslations }}
            <li><a class="{{if eq .Lang $.Lang}} selected {{end}}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
            {{ end }}
          </ul>
        </div>
        <div class="color-mode">
          <i class="color-mode-icon fas fa-sun"></i>
          <span class="color-mode-text-light">{{ i18n "show_light_mode" }}</span>
          <span class="color-mode-text-dark">{{ i18n "show_dark_mode" }}</span>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse order-sx-2 order-sm-1" id="navbarNav">
      <div class="navbar-nav navbar-left">
        <a href="{{ "" | relLangURL }}#{{ .Site.Params.profile.anchor }}" class="nav-item nav-link"><span data-hover="{{ i18n "menu_about" }}">{{ i18n "menu_about" }}</span></a>
        <a href="{{ "" | relLangURL }}#{{ .Site.Params.work.anchor }}" class="nav-item nav-link"><span data-hover="{{ i18n "menu_work" }}">{{ i18n "menu_work" }}</span></a>
        <a href="{{ "" | relLangURL }}#{{ .Site.Params.skills.anchor }}" class="nav-item nav-link"><span data-hover="{{ i18n "menu_skills" }}">{{ i18n "menu_skills" }}</span></a>
        <a href="{{ "" | relLangURL }}#{{ .Site.Params.contact.anchor }}" class="nav-item nav-link"><span data-hover="{{ i18n "menu_contact" }}">{{ i18n "menu_contact" }}</span></a>
      </div>
    </div>
  </div>
</nav>