{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $resume := $data.resume }}
<section class="about d-lg-flex justify-content-center align-items-center" id="{{ .Site.Params.profile.anchor }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-12">
        <div class="about-image">
          <img src="/img/{{ .Params.Avatar }}" class="img-fluid cover-photo">
        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-12">
        <h1 class="animated-text">
          <span class="iamtext">{{ .Params.Title }}</span>
          <div id="typed-strings">
            {{ range .Params.title_animations }}
            <p>{{ . }}</p>
            {{ end }}
          </div>
          <span class="animated-info">
          </span>
        </h1>
        <p>{{ $resume.basics.summary }}</p>
        <div class="custom-btn-group mt-4">
          <a href="/{{ .Params.resume_pdf }}" class="btn mr-lg-2 custom-btn custom-btn-bg resume-btn"><i class='resume-icon far fa-file-pdf fa-lg'></i> {{ i18n "download_pdf" }}</a>
          <a href="/{{ .Params.resume_doc }}" class="btn mr-lg-2 custom-btn custom-btn-bg-light"><i class='resume-icon far fa-file-word fa-lg'></i> {{ i18n "download_word" }}</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 offset-lg-3">
        <div class="about-long-text">
          <p>
            {{ $resume.basics.longSummary }}
          </p>
          <h2>{{ .Params.what_i_can_help_title }}</h2>
          <p>
            <ul>
              {{ range $resume.basics.highlights }}
              <li>{{ . }}</li>
              {{ end }}
            </ul>
          </p>
          {{ if not (eq (trim .Params.not_available_until " ") "") }}
          <span class="availability">{{ i18n "currently_not_available" }} {{ .Params.not_available_until }} </span>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
