<section id="quotes">
    <div class="container quotes-container">
        <div class='row'>
            <div class='col-md-12'>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">

                    {{ $data := index .Site.Data .Site.Language.Lang }}
                    {{ $resume := $data.resume }}

                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        {{ range $index, $quote := $resume.quotes }}
                            {{ if (eq $index 0) }}
                                <li data-target="#quote-carousel" data-slide-to="{{ $index }}" class="active"></li>
                            {{ else }}
                                <li data-target="#quote-carousel" data-slide-to="{{ $index }}"></li>
                            {{ end }}

                        {{ end }}
                    </ol>

                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner">
                        {{ range $index, $quote := $resume.quotes }}
                            {{ if (eq $index 0) }}
                            <div class="carousel-item active">
                            {{ else }}
                            <div class="carousel-item">
                            {{ end }}
                                <blockquote>
                                    <div class="row">
                                        <div class="offset-md-1 col-md-2 text-right d-none d-sm-block">
                                            <img class="img-circle" src="{{ .Site.BaseURL }}/img/quotes/{{ $quote.image }}">
                                            <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                                        </div>
                                        <div class="offset-sx-1 col-xs-10 col-md-7">
                                            <p>„{{ $quote.quote }}“</p>
                                            <small><a href="{{ $quote.link }}" target="_blank">{{ $quote.name }}</a> ({{ $quote.role }})</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
