<section id="{{ .Site.Params.work.anchor }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>{{ i18n "work_title" }}</h1>
      </div>
    </div>
    <div class="work">
      {{ $data := index .Site.Data .Site.Language.Lang }}
      {{ $resume := $data.resume }}
      {{ range $resume.work }}
      <div class="row">
        <div class="col-1 d-md-none timeline-beam">&nbsp;</div>
        <div class="col-11 d-md-none"><small>{{ dateFormat "01/2006" .startDate }} - {{ dateFormat "01/2006" .endDate }}</small></div>
      </div>
      <div class="row">
        <div class="col-1 col-md-2 col-xl-1 timeline-times">
          <div class="timeline-end">
            <div class="d-none d-md-block">
              <small>{{ dateFormat "01/2006" .endDate }}</small>
            </div>
          </div>
          <div class="timeline-start d-none d-md-block">
            <div><small>{{ dateFormat "01/2006" .startDate }}</small></div>
          </div>
        </div>
        <div class="col-11 col-md-10 col-xl-11 timeline-info">
          <h3><span>{{ .position }}</span></h3>
          <span>
          {{ if eq .website "" }}
            <span class="company">{{ .company }}</span>
          {{ else }}
          <a href="{{ .website }}">{{ .company }}</a>
          {{ end }}
          </span>
          {{ if isset .keywords 0}}
          <div class="keywords">
            {{ range .keywords }}
            <span>{{ . }}</span>
            {{ end }}
          </div>
          {{ end }}
          <p>{{ .summary }}</p>
          {{ if isset .highlights 0}}
          <ul>
            {{ range .highlights }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
          {{ end }}

          {{ if .feedback }}
            <ul class="work-links">
              {{ range .feedback }}
                <li>{{ i18n "project_feedback" }}: <a href="{{ .Site.BaseURL }}/feedback/{{ .link }}" target="_blank"><i class="fab {{ .icon }} fa-md" aria-hidden="true"></i> {{ .name }}</a></li>
              {{ end }}
            </ul>
          {{ end }}

          {{ if .links }}
          <ul class="work-links">
            {{ range .links }}
              {{ if eq .link "" }}
                <li class=""><i class="fab {{ .icon }} fa-md" aria-hidden="true"></i> {{ .platform }}</li>
              {{ else }}
                <li><a href="{{ .link }}" target="_blank"><i class="fab {{ .icon }} fa-md" aria-hidden="true"></i> {{ .platform }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
          {{ end }}
        </div>
      </div>
      <div class="row">
        <div class="col-1 col-md-2 col-xl-1 timeline-beam-dotted">&nbsp;</div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
