<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "custom_head.html" . }}
</head>

<body>
  <div>
    wegew
    {{ if .Site.Params.nav.enable }}
    {{ partial "nav.html" . }}
    {{ end }}

    {{ if .Site.Params.profile.enable }}
    {{ partial "profile.html" . }}
    {{ end }}

    {{ if .Site.Params.skills.enable }}
    {{ partial "skills.html" . }}
    {{ end }}

    {{ if .Site.Params.work.enable }}
    {{ partial "work.html" . }}
    {{ end }}

    {{ if .Site.Params.footer.enable }}
    {{ partial "footer.html" . }}
    {{ end }}
  </div>

  {{ partial "scripts.html" . }}

</body>

</html>